body {
    margin: 0;
    padding: 0;
    background-image: url('https://images.unsplash.com/photo-1551033406-611cf9a28f67?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=687');
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
  }
  
  .container {
  background-color: rgba(255, 202, 202, 0.959);
  width: 75%;
  max-width: 100%;
  padding: 1%;
  display: block; 
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.332);
  margin: 40px auto;
  text-align: center;
}


  
  
  
  
  
  
  img {
    display: block;
    margin: 20px auto;
    max-width: 80%;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.2);
     margin: 20px auto;
  }
  
  p {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    margin-bottom: 12px;
    text-align: justify;
  }
  p:hover {
    background-color: #00000010;
  }
  .destaque {
    color: #153a00;
    font-weight: bold;
  }
  
  
  
  
  
  
  
  
  .fixedbuttonesquerda {
      position: fixed;
      top: 50%; 
      transform: translateY(-50%); 
      width: 60px;
      height: 60px;
      background-color: #3039b8;
      color: white;
      font-size: 24px;
      border: none;
      border-radius: 50%;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1000; 
  }
  .fixedbuttondireita {
    position: fixed;
    top: 50%; 
    transform: translateY(-50%); 
    width: 60px;
    height: 60px;
    background-color:#3039b8;
    color: white;
    font-size: 24px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
    right: 10px; 
  }
  
  
  
  
  
  
  
  .round-button:hover {
    background-color: #45a049;
  }
  
  .inner-box {
    margin: 40px auto;
    background-color: #ffe6eef3;
    border-radius: 10px;
    max-width: 80%;
    text-align: justify;
    padding: 20px;
    margin-top: 0;
    overflow: visible;
    height: auto;
    flex-grow: 1;
  }
  